@font-face {
    font-family: UVNDaLat;
    src: url("../fonts/UVNDaLat.TTF");
}

* {
    padding: 0;
    margin: 0 auto;
    font-family: UVNDaLat;
    font-size: 22px;
    color: #260000;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.hidden {
    display: none;
}
.clearfix {clear: both}

body {

}

#container {
    max-width: 960px;
    min-height: 100vh;
    position: relative;
}

#container #head {
    background: url("./../images/bgr_web_header.png");
    background-position: left top;
    background-repeat: no-repeat;
}

#container #head #logo {
    height: 70px;
    width: auto;
    margin-top: 7px;
}

#container #head .btn-menu img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 20px;
}

#navigator {
    position: fixed;
    width: 140px;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    color: #FFF;
    padding: 30px;
}

#navigator a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 0px;
}

#navigator li {
    padding: 10px 0px;
    list-style: none;
}

#container #content {
    background: url("./../images/bgr_web_content.png");
    background-position: left top;
    background-repeat: no-repeat;
}

#container #footer {
    background: url("./../images/bgr_web_footer.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
}

.download {
    margin-top: 30px;
}

.download a:first-child img {
    margin-right: 5px;
}

.head-title {
    margin: 0px 30px;
    padding-left: 65px;
    background-image: url(./../images/bgr_title_text.png);
    background-repeat: no-repeat;
    height: 50px;
    margin-top: -20px;
    background-size: contain;
    line-height: 50px;
    color: yellow;
    font-weight: bold;
    font-size: 24px;
}


@media screen and (max-width: 768px){
    #container #head {
        padding-bottom: 37px;
        background-size: 100% 100%;
        height: 100px;
    }

    #container #content {
        background-repeat: repeat-y;
        background-size: 100% 100%;
    }

    #container #content .download img {
        width: 120px;
        height: auto;
    }

    #container #content .icon-game {
        width: 225px;
        height: auto;
        margin-top: 20px;
    }

    #container #footer {
        background-size: 100% 100%;
        height: 19px;
    }
}

@media screen and (min-width: 768px){

    #navigator img {
        display: none;
    }

    #container #head {
        height: 250px;
        background-size: 100% 100%;
    }

    #container #head #logo {
        height: 120px;
        margin-top: 20px;
    }

    #container #head .btn-menu img {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 45px;
        left: 50px;
    }

    #container #content .download img {
        width: 250px;
        height: auto;
    }

    #container #content {
        padding: 30px;
    }

    .icon-game {
        margin-top: 0px;
    }

    #container #content .cach_1,
    #container #content .cach_2,
    #container #content .cach_3{
        margin-top: 50px;
    }

    #container #head,
    #container #content,
    #container #footer {
        background-size: 100% 100%;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 51%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}